import(Rcpp)
import(raster)
import(foreach)
import(doParallel)
importFrom("methods", "is")
importFrom(reshape2, dcast)
importFrom(vegan, vegdist)
importFrom(grDevices, dev.new, dev.next)
importFrom(graphics, par, points, rug, polygon)
importFrom(stats, median, na.omit, as.dist, sd)
importFrom(parallel, makeCluster, stopCluster)
useDynLib(gdm, .registration=TRUE)
S3method(plot, gdm)
S3method(predict, gdm)
S3method(summary, gdm)
exportPattern("^[[:alpha:]]+")
