import(Rcpp)
import(raster)
import(reshape2)
import(vegan)
import(plyr)
importFrom(grDevices, dev.new, dev.next)
importFrom(graphics, par, points, rug)
importFrom(stats, median, na.omit)
useDynLib(gdm)
S3method(plot, gdm)
S3method(predict, gdm)
S3method(summary, gdm)
exportPattern("^[[:alpha:]]+")
